﻿@model IEnumerable<TOP2000.Track>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="
    background-image: url(https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;">
    <h1 style="color:white">TOP20</h1>
    <p class="lead" style="color:white">de top20 gejat van de top2000</p>

</div>
<br>
@if (this.User.IsInRole("admin"))
{
    @Html.ActionLink("Create New", "Create")
}
<br>
<br>
<form action="./" method="GET">
    <input name="title" placeholder="title" />
    <input name="artiest" placeholder="artiest" />

    <input type="submit" value="zoek">
</form>

<br>
<table class="table">
    <tr style="background-color:#d9151b;color:white">
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artiest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>link</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artiest)
            </td>
            <td>

                <!-- get time from sql server and parses it to a dateTime from the dateTime i take the year. -->

                @Html.DisplayFor(modelItem => DateTime.Parse(item.Year.ToString()).Year)

            </td>
            <td>
                <form action="https://www.youtube.com/results" method="get">
                    <input type="hidden" name="search_query" value="@Html.DisplayFor(modelItem => item.Titel) @Html.DisplayFor(modelItem => item.Artiest)" />

                    <input class="btn btn-danger" type="submit" value="open in youtube">
                </form>
            </td>
            @if (this.User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.SongId })
                </td>
            }
        </tr>
    }

</table>