﻿@model IEnumerable<TOP2000.Models.VmUsersList>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>


<table class="table">
    <tr style="background-color:#d9151b;color:white">
        <th>
            email
        </th>
        <th>
            id
        </th>
        <th>
            password hash
        </th>
        
        
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
            </tr>
        }
    }

</table>

